<%
    const sampleAnswer = "Some community resources have specific forms they require. Others do not so advocacy letters are more effective. We’ve included both of these types of resources on this page to cover the key community resources for patients in RI.";
    const faq = [
        {
            question: "What are dot phrases?",
            answer: sampleAnswer,
        },
        {
            question: "How do I use dot phrases? ",
            answer: sampleAnswer,
        },
        {
            question: "How do I add dot phrases to my EMR? ",
            answer: sampleAnswer,
        },
    ];
    const categories = ["Court Fines & Fees", "Food Insecurity", "Intimate Partner Violence", "Housing Insecurity", "Transportation", "Immigration", "Police Violence", "Incarceration"],
        categoryToDeselect = "Food Insecurity";
    const results = [
        {
            title: "Explains effect of homelessness on medical morbidity and healthcare utilization",
            body: "Pt is experiencing/at risk of homelessness or housing insecurity. Long-term consequences of homelessness include higher morbidity of both physical and mental health conditions, trauma and exposure to violence, and increased rates of ED visits and hospitalizations (Clark, RE. Am J Public Health 2018; Lim, S. Health Serv Res 2018; Taylor L. Health Affairs 2018).<br><br>Based on these risk factors, we discussed the following safety and support plans: ***",
            tags: ["Incarceration", "Housing Insecurity"]
        },
        {
            title: "Explains effect of homelessness on specific outcomes",
            body: "Pt is experiencing/at risk of homelessness or housing insecurity. Access to housing has been found to significantly improve health outcomes, including decreasing anxiety and depression (particularly for individuals living with mental illness) decreasing number of children in poor health, decreasing rates of IPV, increasing food security, and decreasing healthcare costs (Bovell-Ammon, A. Health Affairs 2020; Taylor, L. Health Affairs 2018). <br><br>Based on these findings, I recommended/discussed *** with pt.",
            tags: ["Housing Insecurity", "Food Insecurity"]
        },
    ];
%>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dot Phrases | Docs for Health</title>
    <%- include src/partials/header.ejs %>
</head>
<%- include src/partials/start.ejs %>
    <div class="page-faq">
        <div class="page-faq__card">
            <h1 class="page-faq__card__title heading heading--2">
                <span class="heading__title">Dot Phrases</span>
            </h1>
            <button type="button"
                class="page-faq__card__toggle"
                data-lity
                data-lity-target="#dfh-resources-faq"
                data-lity-override-modal-class="modal--open"
                data-lity-override-container-class="container container--narrow">
                View <%= faq.length %> answered questions
            </button>
            <div id="dfh-resources-faq" class="page-faq__card__content lity-hide modal modal--adaptive">
                <div class="modal__title">
                    <h1 class="heading heading--2 heading--bold">
                        Dot Phrases Help
                    </h1>
                </div>
                <div class="modal__content">
                    <ul class="page-faq__questions">
                        <% faq.forEach(function(info, index) { %>
                            <li class="faq-question <%= index === 0 && 'faq-question--open'%>">
                                <div class="faq-question__question">
                                    <h2 class="text text--large">
                                        <%= info.question %>
                                    </h2>
                                    <button type="button"
                                        class="faq-question__toggle"
                                        data-toggle-container-class="faq-question"
                                        data-toggle-container-open-class="faq-question--open"
                                        data-toggle-open-word="show"
                                        data-toggle-close-word="hide">
                                        <span class="sr-only">
                                            Toggle <%= index === 0 ? 'hide' : 'show' %> answer
                                        </span>
                                    </button>
                                </div>
                                <div class="faq-question__answer">
                                    <%= info.answer %>
                                </div>
                            </li>
                        <% }); %>
                    </ul>
                </div>
                <div class="modal__toggle">
                    <button type="button"
                        class="button button--small button--outline"
                        data-lity-close>
                        Close
                    </button>
                </div>
            </div>
        </div>
        <div class="page-faq__body">
            <div class="page-faq__header">
                 <div class="page-header page-header--nested">
                <div class="page-header__section page-header__section--right">
                    <p class="page-header__metadata">
                        Showing 6 of 7 categories
                    </p>
                    <div class="form form--inline page-header__form">
                        <input type="text"
                            class="form__control form__control--search"
                            placeholder="Search for a dot phrase">
                    </div>
                </div>
            </div>
            <div class="page-categories">
                <button type="button"
                    class="page-categories__toggle"
                    data-toggle-container-class="page-categories"
                    data-toggle-container-open-class="page-categories--open">
                    Showing 6 of 7 categories
                </button>
                <ul class="page-categories__list">
                    <% categories.forEach(function(category) { %>
                        <li>
                            <button type="button"
                                class="page-categories__category
                                    <%= category !== categoryToDeselect && "page-categories__category--active"  %>">
                                <%= category %>
                            </button>
                        </li>
                    <% }); %>
                </ul>
            </div>
            </div>
            <div class="page-faq__content">
                <ul class="dot-phrase-preview-list">
                    <% results.forEach(function(result, index) { %>
                        <li class="dot-phrase-preview-list__preview dot-phrase-preview">
                            <div class="dot-phrase-preview__header">
                                <div class="dot-phrase-preview__header__info">
                                    <h2 class="text text--small margin-r-1">
                                        <%= result.title %>
                                    </h2>
                                    <a href="/dot-phrase-detail.html" class="link link--expand">
                                        Details
                                    </a>
                                </div>
                                <button type="button"
                                    class="dot-phrase-preview__header__copy"
                                    data-copy-selector="#dot-phrase-<%= index %>">
                                    Copy
                                </button>
                            </div>
                            <div class="dot-phrase-preview__body">
                                <p id="dot-phrase-<%= index %>" class="text">
                                    <%- result.body %>
                                </p>
                                <ul class="list list--unstyled">
                                    <% result.tags.forEach(function(tag) { %>
                                        <li class="tag">
                                            <%= tag %>
                                        </li>
                                    <% }); %>
                                </ul>
                            </div>
                        </li>
                    <% }); %>
                </ul>
                <%- include src/partials/load-more.ejs %>
            </div>
        </div>
    </div>
    <%- include src/partials/feedback-card.ejs %>
<%- include src/partials/end.ejs %>
</html>
