<%
    const categories = ["Housing", "Transportation", "Food", "Income support", "Criminalization"];
    const results = [
        {
            title: "DMV disability placard",
            description: "Supports people who have been charged with criminal or civil offenses",
            type: "Form only",
            tags: ["Transportation"]
        },
        {
            title: "Documenting homelessness history",
            description: "Helps individual counter disability-related denials and evictions and advocate for necessary repairs",
            type: "Form + letter",
            tags: ["Housing"]
        },
        {
            title: "Existing court fines",
            description: "Supports people who have been charged with criminal or civil offenses",
            type: "Letter only",
            tags: ["Criminalization"]
        },
        {
            title: "Housing advocacy for domestic violence",
            description: "Supports people who have been charged with criminal or civil offenses",
            type: "Letter only",
            tags: ["Housing"]
        },
        {
            title: "Housing advocacy for unmet maintenance",
            description: "Helps individual counter disability-related denials and evictions and advocate for necessary repairs",
            type: "Letter only",
            tags: ["Housing"]
        },
    ];
%>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Resources | Docs for Health</title>
    <%- include src/partials/header.ejs %>
</head>
<body>
    <%- include src/partials/nav.ejs %>

    <div class="page-header">
        <div class="page-header__section">
            <h1 class="heading heading--2">
                <span class="heading__title">Resources</span>
            </h1>
            <p class="page-header__metadata">
                Found 13 of 14 resources
            </p>
        </div>
        <div class="page-header__section page-header__section--right">
            <p class="page-header__metadata page-header__metadata--secondary">
                Showing 4 of 5 categories
            </p>
            <div class="form form--inline page-header__form">
                <input type="text"
                    class="form__control form__control--search"
                    placeholder="Search for a resource">
            </div>
        </div>
    </div>
    <div class="resource-categories">
        <div class="resource-categories__metadata">
            Showing 4 of 5 categories
        </div>
        <ul class="resource-categories__list">
            <% categories.forEach(function(category) { %>
                <li>
                    <button type="button"
                        class="resource-categories__category
                            <%= category !== "Food" && "resource-categories__category--active"  %>">
                        <%= category %>
                    </button>
                </li>
            <% }); %>
        </ul>
    </div>
    <ul class="resource-previews">
        <% results.forEach(function(result) { %>
            <li class="resource-previews__preview">
                <div class="resource-previews__preview__info">
                    <h2 class="heading heading--3">
                        <a href="/resource.html" class="link">
                            <%= result.title %>
                        </a>
                    </h2>
                    <p class="text">
                        <%= result.description %>
                    </p>
                </div>
                <ul class="resource-previews__preview__tags">
                    <li class="tag tag--notable">
                        <%= result.type %>
                    </li>
                    <% result.tags.forEach(function(tag) { %>
                        <li class="tag">
                            <%= tag %>
                        </li>
                    <% }); %>
                </ul>
            </li>
        <% }); %>
    </ul>
    <div class="load-more">
        Loading...
        <!-- TODO -->
        <!-- <img src="" alt="Loading indicator"> -->
    </div>
    <div class="feedback-card">
        <div class="feedback-card__info">
            <h3 class="heading heading--3">
                <span class="heading__title">Did we miss something?</span>
            </h3>
            <p class="text">
                We are consistently developing new resources to help providers support patients’ social determinants of health.
            </p>
            <p class="text">
                Please fill out the form with your suggestions or email us directly at
                <a class="link"
                    href="mailto:community@docsforhealth.org">
                    community@docsforhealth.org
                </a>
            </p>
        </div>
        <form class="form" action="">
            <%- include src/partials/contact-form-body.ejs %>
        </form>
    </div>
    <%- include src/partials/footer.ejs %>
</body>
</html>
