<%
    const currentIndex = 2;
    const topics = [
        {
            title: "An introduction to prescribing Buprenorphine",
            presenter: "Rahul Vanjani, MD",
        },
        {
            title: "Assessing patients for buprenorphine treatment",
            presenter: "Elizabeth Samuels, MD",
        },
        {
            title: "Buprenorphine induction",
            presenter: "Seth Clark, MD",
            topics: ["pharmacology", "home induction", "office induction", "hospital induction", "COWS tool", "precipitated withdrawal"],
            description: "With help from Tiffany, who works at Montefiore in the Bronx, I've compiled a list of topics. If the goal is for the videos to be no longer than 3-5 minutes, with 5-10 corresponding slides, my guess is that we may need to create multiple videos for some topics. Tiffany had suggested we start by focusing on the 8 topics that we deem most important, since there are 8 of us.",
            resources: [
                {
                    title: "Brown Med's buprenorphine induction handbook",
                    url: "#",
                },
                {
                    title: "American Medical Association's guidelines for buprenorphine induction",
                    url: "#",
                },
                {
                    title: "CDC best practices for buprenorphine induction",
                    url: "#",
                },
            ],
        },
        {
            title: "Buprenorphine maintenance",
            presenter: "Cheryl Monteiro, MD",
        },
        {
            title: "Urine toxicology",
            presenter: "Rachel Wightman, MD",
        },
        {
            title: "Working with patients who have addiction",
            presenter: "Laureen Berkowitz, MD",
        },
        {
            title: "When to intensify treatment and/or transfer care to a higher level",
            presenter: "Tiffany Lu, MD",
        },
        {
            title: "Polysubstance use",
            presenter: "Catherine Trimbur, MD",
        },
        {
            title: "Mental illness",
            presenter: "Rahul Vanjani, MD",
        },
        {
            title: "Acute and chronic pain",
            presenter: "Rahul Vanjani, MD",
        },
    ];
%>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Buprenorphine Basics | Docs for Health</title>
    <%- include src/partials/header.ejs %>
</head>
<%- include src/partials/start.ejs %>
    <div>
        <div>
            <h1 class="heading heading--3">
                <a href="/resources.html" class="heading__nav">
                    <img src="assets/images/icon-arrow.svg"
                        class="heading__nav__image"
                        alt="Back arrow to return to previous page">
                    <span class="heading__nav__text">
                        All toolkits
                    </span>
                </a>
                Buprenorphine Basics
            </h1>
            <ol>
                <li>
                    <h4>
                        <a href="#">Pre-test</a>
                    </h4>
                </li>
                <% topics.forEach(function(topic, index) { %>
                    <li class="<%= index <= currentIndex && "active" %>">
                        <h4>
                            <a href="#"><%= topic.title %></a>
                        </h4>
                        <p>
                            <%= topic.presenter %>
                        </p>
                    </li>
                <% }); %>
                <li>
                    <h4>
                        <a href="#">Post-test</a>
                    </h4>
                </li>
            </ol>
        </div>
        <div>
            <div>
                <h2>
                    <%= topics[currentIndex].title %>
                </h2>
                <p>
                    <%= topics[currentIndex].presenter %>
                </p>
            </div>
            <div>
                <div>
                    <!-- Due to limitation in compilation, need to hardcode for styling -->
                    <img src="assets/images/placeholder-video-preview-2.png"
                        alt="<%= topics[currentIndex].title %> video thumbnail">
                </div>
                <div>
                    <p>
                        <span>This section covers</span>:
                        <%= topics[currentIndex].topics.join(", ") %>
                    </p>
                    <p>
                        <%= topics[currentIndex].description %>
                    </p>
                </div>
                <h3 class="heading heading--3">
                    <span class="heading__title">Further reading</span>
                </h3>
                <ul>
                    <% topics[currentIndex].resources.forEach(function(resource) { %>
                        <li>
                            <a href="<%= resource.url %>">
                                <%= resource.title %>
                            </a>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>

<%- include src/partials/end.ejs %>
</html>
